<div class="col-xs-10 col-xs-offset-1" id='job-box'>
  <% @jobs.each do |job| %>

  <div id='job'>
    <h2 id='job-title'><%= link_to job.title, job_path(job) %></h2>

    <p id='job-des'>Description: <%= job.description %></p>

    <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-info' %>
    <%= link_to 'Delete', job_path(job), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>

  <% end %>
</div>
